// Glyphs used throughout the framework

// checkboxes
$x-glyph-checkbox-checked             : $fa-var-check-square-o !default;
$x-glyph-checkbox-unchecked           : $fa-var-square-o !default;
$x-glyph-checkbox-partialchecked      : $fa-var-square !default;

// radio buttons
$x-glyph-radio-selected               : $fa-var-dot-circle-o !default;
$x-glyph-radio-unselected             : $fa-var-circle-o !default;
