/**
 * Gray Glyphs theme vars
 * Ext.form.field.Trigger
 */

$form-trigger-border-width: 1px 1px 1px 0 !default;

$form-trigger-background-color          : #f0f0f0 !default;
$form-trigger-background-color-over     : #d0d0d0 !default;
$form-trigger-background-color-focus    : #d7d7d7 !default;
$form-trigger-background-color-click    : #d7d7d7 !default;
