
$drop-glyph-font-size       : $font-size !default;

$drop-ok-glyph              : $fa-var-check-circle !default;
$drop-ok-glyph-color        : green !default;

$drop-ok-add-glyph          : $fa-var-plus-circle !default;
$drop-ok-add-glyph-color    : green !default;

$drop-not-ok-glyph          : $fa-var-ban !default;
$drop-not-ok-glyph-color    : red !default;
