/**
 * Base Glyphs theme src
 * Ext.form.field.Text
 */


// the framework calculates a line-height but in many cases this results
// in text that is not middled aligned and so we override this and use a
// unitless line-height

.#{$prefix}form-text,
.#{$prefix}form-text-default {
    line-height: 1;
}


.#{$prefix}form-trigger,
.#{$prefix}form-trigger-default {
    background-image: none; // to hide the image added by the framework

    height          : $form-trigger-font-size; // ExtJS/Cmd 5 needs this
    font-size       : $form-trigger-font-size;
    //line-height     : $form-text-field-height;

    font-family     : $form-trigger-font-family;
    color           : $form-trigger-color;
    text-align      : center;

    display         : table-cell;
    vertical-align  : middle;

    // over
    &.#{$prefix}form-trigger-over {
        color           : $form-trigger-color-over;
        background-color: $form-trigger-background-color-over;
    }

    // focus
    &.#{$prefix}form-trigger-focus {
        color           : $form-trigger-color-focus;
        background-color: $form-trigger-background-color-focus;

        // focus with over
        &.#{$prefix}form-trigger-over {
            background-color: $form-trigger-background-color-over;
        }
    }

    // click
    &.#{$prefix}form-trigger-click {
        color           : $form-trigger-color-click;
        background-color: $form-trigger-background-color-click;
    }


    // arrow trigger
    &.#{$prefix}form-arrow-trigger,
    &.#{$prefix}form-arrow-trigger-default {
        background-image: none;

        &:before {
            content: $form-trigger-glyph;
        }

        // hide the framework's rtl image
        @if $include-rtl {
            &.#{$prefix}rtl {
                background-image: none;
            }
        }
    }

    // clear trigger
    &.#{$prefix}form-clear-trigger,
    &.#{$prefix}form-clear-trigger-default {
        background-image: none;

        &:before {
            content: $form-clear-trigger-glyph;
        }

        // hide the framework's rtl image
        @if $include-rtl {
            &.#{$prefix}rtl {
                background-image: none;
            }
        }
    }

    // search trigger
    &.#{$prefix}form-search-trigger,
    &.#{$prefix}form-search-trigger-default {
        background-image: none;

        &:before {
            content: $form-search-trigger-glyph;
        }

        // hide the framework's rtl image
        @if $include-rtl {
            &.#{$prefix}rtl {
                background-image: none;
            }
        }
    }

    // time trigger
    &.#{$prefix}form-time-trigger,
    &.#{$prefix}form-time-trigger-default {
        background-image: none;

        &:before {
            content: $form-time-trigger-glyph;
        }

        // hide the framework's rtl image
        @if $include-rtl {
            &.#{$prefix}rtl {
                background-image: none;
            }
        }
    }

    // spinner triggers
    &.#{$prefix}form-trigger-spinner,
    &.#{$prefix}form-trigger-spinner-default {
        background-image: none;
        background-color: transparent;

        .#{$prefix}form-spinner-default {
            background-image: none;
            background-color: transparent;
            font-size       : $form-spinner-font-size;
            line-height     : $form-spinner-line-height;
        }

        // up spinner
        .#{$prefix}form-spinner-up,
        .#{$prefix}form-spinner-up-default {
            &:before {
                content         : $form-spinner-up-trigger-glyph;
                vertical-align  : middle;
            }

            // hide the framework's rtl image
            @if $include-rtl {
                &.#{$prefix}rtl {
                    background-image: none;
                }
            }

            // over
            &.#{$prefix}form-spinner-over {
                color           : $form-trigger-color-over;
                background-color: $form-trigger-background-color-over;
            }

            // focus
            &.#{$prefix}form-spinner-focus {
                color           : $form-trigger-color-focus;
                background-color: $form-trigger-background-color-focus;

                // focus with over
                &.#{$prefix}form-trigger-over {
                    background-color: $form-trigger-background-color-over;
                }
            }

            // click
            &.#{$prefix}form-spinner-click {
                color           : $form-trigger-color-click;
                background-color: $form-trigger-background-color-click;
            }

            // disabled
            @if $form-trigger-disabled-opacity != 1 {
                &.#{$prefix}form-spinner-up-disabled {
                    @include opacity($form-trigger-disabled-opacity);
                }
            }
        }

        // down spinner
        .#{$prefix}form-spinner-down,
        .#{$prefix}form-spinner-down-default {
            &:before {
                content         : $form-spinner-down-trigger-glyph;
                vertical-align  : middle;
            }

            // hide the framework's rtl image
            @if $include-rtl {
                &.#{$prefix}rtl {
                    background-image: none;
                }
            }

            // over
            &.#{$prefix}form-spinner-over {
                color           : $form-trigger-color-over;
                background-color: $form-trigger-background-color-over;
            }

            // focus
            &.#{$prefix}form-spinner-focus {
                color           : $form-trigger-color-focus;
                background-color: $form-trigger-background-color-focus;

                // focus with over
                &.#{$prefix}form-trigger-over {
                    background-color: $form-trigger-background-color-over;
                }
            }

            // click
            &.#{$prefix}form-spinner-click {
                color           : $form-trigger-color-click;
                background-color: $form-trigger-background-color-click;
            }

            // disabled
            @if $form-trigger-disabled-opacity != 1 {
                &.#{$prefix}form-spinner-down-disabled {
                    @include opacity($form-trigger-disabled-opacity);
                }
            }
        }
    }
}

