/**
 * Neptune Touch Glyphs theme vars
 * Ext.tree.View
 */

$tree-glyph-color                   : #afafaf !default;
$tree-leaf-glyph                    : $fa-var-file !default;
$tree-folder-glyph                  : $fa-var-folder !default;
$tree-folder-expanded-glyph         : $fa-var-folder-open !default;
