
$accordion-tool-expand-glyph        : $fa-var-plus-circle !default;
$accordion-tool-collapse-glyph      : $fa-var-minus-circle !default;

$accordion-tool-glyph-color         : $accordion-header-color !default;
$accordion-tool-glyph-font-size     : $tool-size !default;
$accordion-tool-glyph-opacity-over  : 0.7 !default;