$scroller-top-glyph     : $fa-var-chevron-up !default;
$scroller-right-glyph   : $fa-var-chevron-right !default;
$scroller-bottom-glyph  : $fa-var-chevron-down !default;
$scroller-left-glyph    : $fa-var-chevron-left !default;