/**
 * Classic Glyphs theme vars
 * Ext.form.field.Trigger
 */


$form-trigger-border-width: 1px 1px 1px 0 !default;

$form-trigger-background-color          : #f0f0f0 !default; // #d1d1d1 !default;
$form-trigger-background-color-over     : #cadae6 !default; // #b3d0e6 !default;
$form-trigger-background-color-focus    : #d3e1f4 !default; // #b3d0e6 !default;
$form-trigger-background-color-click    : #d3e1f4 !default; // #b3d0e6 !default;

