$tool-up                : $fa-var-angle-double-up !default;
$tool-expand-top        : $fa-var-angle-double-up !default;
$tool-collapse-top      : $fa-var-angle-double-up !default;

$tool-down              : $fa-var-angle-double-down !default;
$tool-expand-bottom     : $fa-var-angle-double-down !default;
$tool-collapse-bottom   : $fa-var-angle-double-down !default;

$tool-right             : $fa-var-angle-double-right !default;
$tool-expand-right      : $fa-var-angle-double-right !default;
$tool-collapse-right    : $fa-var-angle-double-right !default;

$tool-left              : $fa-var-angle-double-left !default;
$tool-expand-left       : $fa-var-angle-double-left !default;
$tool-collapse-left     : $fa-var-angle-double-left !default;