
@mixin extjs-tab-bar-ui-add-glyphs(
    $ui,
    // todo - does the tab-bar need its own glyphs?
    $ui-top-glyph       : $scroller-top-glyph,
    $ui-right-glyph     : $scroller-right-glyph,
    $ui-bottom-glyph    : $scroller-bottom-glyph,
    $ui-left-glyph      : $scroller-left-glyph

) {


    // custom tabbar padding
    .#{$prefix}tab-bar-horizontal.#{$prefix}tab-bar-#{$ui} {
        //padding: $tabbar-body-padding;

        // remove the custom padding if in a panel header
        .#{$prefix}panel-header & {
            padding: 0;
        }
    }

    @if $tabbar-scroller-symmetrical-icons {
        @if $tabbar-scroller-include-plain-icon {
            .#{$prefix}box-scroller-plain.#{$prefix}box-scroller-tab-bar-#{$ui} {
                &.#{$prefix}box-scroller-left {
                    background-image: none;
                }

                &.#{$prefix}box-scroller-right {
                    background-image: none;
                }

                &.#{$prefix}box-scroller-top {
                    background-image: none;
                }

                &.#{$prefix}box-scroller-bottom {
                    background-image: none;
                }
            }
        }
    } @else {
        .#{$prefix}tab-bar-#{$ui}-top {
            .#{$prefix}box-scroller-left {
                background-image: none;
            }
            .#{$prefix}box-scroller-right {
                background-image: none;
            }
        }

        .#{$prefix}tab-bar-#{$ui}-bottom {
            .#{$prefix}box-scroller-left {
                background-image: none;
            }
            .#{$prefix}box-scroller-right {
                background-image: none;
            }
        }

        .#{$prefix}tab-bar-#{$ui}-left {
            .#{$prefix}box-scroller-top {
                background-image: none;
            }
            .#{$prefix}box-scroller-bottom {
                background-image: none;
            }
        }

        .#{$prefix}tab-bar-#{$ui}-right {
            .#{$prefix}box-scroller-top {
                background-image: none;
            }
            .#{$prefix}box-scroller-bottom {
                background-image: none;
            }
        }
    }

    @if $include-ext-layout-container-boxoverflow-scroller {
        @include extjs-box-scroller-ui-add-glyphs(
            $ui                 : $ui,
            $type               : 'tab-bar',
            $horizontal-height  : $tab-line-height
        );
    }

}


@if $include-tabbar-default-ui {
    @include extjs-tab-bar-ui-add-glyphs (
        $ui: 'default'
    )
}