
.#{$prefix}grid-filters-lt {
    background-image: none;

    &:before {
        display: block;
        content: $fa-less-than;
        text-align: center;
        -webkit-font-smoothing: antialiased;
    }
}

.#{$prefix}grid-filters-gt {
    background-image: none;

    &:before {
        display: block;
        content: $fa-greater-than;
        text-align: center;
        -webkit-font-smoothing: antialiased;
    }
}

.#{$prefix}grid-filters-eq {
    background-image: none;

    &:before {
        display: block;
        content: $fa-equal;
        text-align: center;
        -webkit-font-smoothing: antialiased;
    }
}
