
// column header menu sort asc glyph
.#{$prefix}hmenu-sort-asc {
    background-image: none;

    &:before {
        font-family : $grid-column-header-glyph-font-family;
        content     : $grid-column-header-menu-sort-asc-glyph;
    }
}

// column header menu sort desc glyph
.#{$prefix}hmenu-sort-desc {
    background-image: none;

    &:before {
        font-family : $grid-column-header-glyph-font-family;
        content     : $grid-column-header-menu-sort-desc-glyph;
    }
}

// column header menu columns glyph
.#{$prefix}cols-icon {
    background-image: none;

    &:before {
        font-family : $grid-column-header-glyph-font-family;
        content     : $grid-column-header-menu-columns-glyph;
    }
}
