// TODO - make vars for the background-color and add the correct glyph vars

.#{$prefix}layout-split-left {
    //background-image: theme-background-image('util/splitter/mini-left');
    background-image: none;
    background-color: $base-color;
}

.#{$prefix}layout-split-right {
    //background-image: theme-background-image('util/splitter/mini-right');
    background-image: none;
    background-color: $base-color;
}

@if $include-rtl {
    .#{$prefix}rtl {
        &.#{$prefix}layout-split-left {
            //background-image: theme-background-image('util/splitter/mini-right');
            background-image: none;
            background-color: $base-color;
        }

        &.#{$prefix}layout-split-right {
            //background-image: theme-background-image('util/splitter/mini-left');
            background-image: none;
            background-color: $base-color;
        }
    }
}

.#{$prefix}layout-split-top {
    //background-image: theme-background-image('util/splitter/mini-top');
    background-image: none;
    background-color: $base-color;
}

.#{$prefix}layout-split-bottom {
    //background-image: theme-background-image('util/splitter/mini-bottom');
    background-image: none;
    background-color: $base-color;
}

.#{$prefix}splitter-collapsed {
    .#{$prefix}layout-split-left {
        //background-image: theme-background-image('util/splitter/mini-right');
        background-image: none;
        background-color: $base-color;
    }

    .#{$prefix}layout-split-right {
        //background-image: theme-background-image('util/splitter/mini-left');
        background-image: none;
        background-color: $base-color;
    }

    @if $include-rtl {
        .#{$prefix}rtl {
            &.#{$prefix}layout-split-left {
                //background-image: theme-background-image('util/splitter/mini-left');
                background-image: none;
                background-color: $base-color;
            }

            &.#{$prefix}layout-split-right {
                //background-image: theme-background-image('util/splitter/mini-right');
                background-image: none;
                background-color: $base-color;
            }
        }
    }

    .#{$prefix}layout-split-top {
        //background-image: theme-background-image('util/splitter/mini-bottom');
        background-image: none;
        background-color: $base-color;
    }

    .#{$prefix}layout-split-bottom {
        //background-image: theme-background-image('util/splitter/mini-top');
        background-image: none;
        background-color: $base-color;
    }
}