
// column header menu sort asc glyph
.#{$prefix}hmenu-sort-asc {
    background-image: none;

    &:before {
        font-family: FontAwesome;
        content: $fa-var-long-arrow-down;
    }
}

// column header menu sort desc glyph
.#{$prefix}hmenu-sort-desc {
    background-image: none;

    &:before {
        font-family: FontAwesome;
        content: $fa-var-long-arrow-up;
    }
}

// column header menu columns glyph
.#{$prefix}cols-icon {
    background-image: none;

    &:before {
        font-family: FontAwesome;
        content: $fa-var-columns;
    }
}

// sort ASC glyph in the actual column header text
.#{$prefix}column-header-sort-ASC {
    .#{$prefix}column-header-text {
        // remove the image and padding that framework adds for the image
        background-image: none;
        padding-right: 0;
        // now add our glyph to the :after pseudo
        &:after {
            font-family     : $grid-column-header-menu-arrow-glyph-font-family;
            content         : $fa-var-long-arrow-down;
            padding-left    : $grid-header-sort-icon-spacing;
        }
    }
}

// sort DESC glyph in the actual column header text
.#{$prefix}column-header-sort-DESC {
    .#{$prefix}column-header-text {
        // remove the image and padding that framework adds for the image
        background-image: none;
        padding-right: 0;
        // now add our glyph to the :after pseudo
        &:after {
            font-family     : $grid-column-header-menu-arrow-glyph-font-family;
            content         : $fa-var-long-arrow-up;
            padding-left    : $grid-header-sort-icon-spacing;
        }
    }
}
