$tree-leaf-glyph                : $fa-var-file-o !default;

$tree-arrow-glyph               : $fa-var-caret-right !default;
$tree-arrow-expanded-glyph      : $fa-var-caret-down !default;

$tree-plus-glyph                : $fa-var-plus !default;
$tree-minus-glyph               : $fa-var-minus !default;

$tree-folder-glyph              : $fa-var-folder-o !default;
$tree-folder-expanded-glyph     : $fa-var-folder-open-o !default;

// not supported
$tree-elbow-glyph               : $fa-var-ellipsis-h !default;
$tree-elbow-end-glyph           : $fa-var-ellipsis-h !default;
$tree-elbow-line-glyph          : $fa-var-ellipsis-v !default;
