
$form-trigger-font-family   : $glyph-font-family !default;
$form-trigger-color         : black !default;

$form-clear-trigger-glyph   : $fa-var-close !default;
$form-search-trigger-glyph  : $fa-var-search !default;
$form-time-trigger-glyph    : $fa-var-clock-o !default;

$form-spinner-up-trigger-glyph      : $fa-var-angle-up !default;
$form-spinner-down-trigger-glyph    : $fa-var-angle-down !default;