
$menu-item-group-glyph              : $fa-var-check !default;
$menu-item-checked-glyph            : $fa-var-check-square-o !default;
$menu-item-unchecked-glyph          : $fa-var-square-o !default;
$menu-item-arrow-glyph              : $fa-var-caret-right !default;
