
//$menu-border-color                  : $trinet-gray !default;
//$menu-item-text-horizontal-spacing  : 10px !default;
//$menu-item-font-size                : $font-size !default;
//$menu-item-height                   : $menu-item-font-size * 2 !default;

$menu-item-arrow-height             : $menu-item-height !default;
$menu-item-arrow                    : $fa-var-caret-right !default;
$menu-item-arrow-font-family        : $glyph-font-family !default;
$menu-item-arrow-font-size          : $menu-item-font-size !default;
$menu-item-arrow-text-color         : black !default;
