$breadcrumb-glyph-font-family   : $glyph-font-family !default;
$breadcrumb-glyph-color         : grey !default;

$breadcrumb-folder-glyph    : $fa-var-folder-o !default;
$breadcrumb-leaf-glyph      : $fa-var-file-o !default;

$breadcrumb-text-color      : grey !default;
$breadcrumb-text-over-color : white !default;
