/**
 * Crisp Glyphs theme vars
 * Ext.form.field.Trigger
 */

$form-trigger-color             : #9e9e9e !default;
$form-trigger-color-over        : #888888 !default;
$form-trigger-color-focus       : #666666 !default;
$form-trigger-color-click       : #666666 !default;

