
$dropzone-insert-arrow-glyph-color          : green !default;
$dropzone-insert-arrow-right-glyph-color    : $dropzone-insert-arrow-glyph-color !default;
$dropzone-insert-arrow-left-glyph-color     : $dropzone-insert-arrow-glyph-color !default;


$dropzone-insert-arrow-right-glyph          : $fa-var-long-arrow-right !default;
$dropzone-insert-arrow-left-glyph           : $fa-var-long-arrow-left !default;