
$splitter-glyph-font-family     : $glyph-font-family !default;
$splitter-background-color      : #fff !default;
$splitter-opacity               : 0.3 !default;
$splitter-color                 : $base-color !default;

$splitter-mini-left-glyph       : $fa-var-caret-left !default;
$splitter-mini-right-glyph      : $fa-var-caret-right !default;

$splitter-mini-top-glyph        : $fa-var-caret-up !default;
$splitter-mini-bottom-glyph     : $fa-var-caret-down !default;