/**
 * Gray Glyphs theme vars
 * Ext.tree.View
 */


// leaf
$tree-leaf-glyph                    : $fa-var-list-alt !default;
$tree-leaf-glyph-color              : #5482ee !default;

// folder
$tree-folder-glyph                  : $fa-var-folder !default;

// let the folder color be the complement color of the leaf
// which looks to be about what the framework does with the classic theme
$tree-folder-glyph-color            : adjust_hue($tree-leaf-glyph-color, 180) !default;

// folder expanded
$tree-folder-expanded-glyph         : $fa-var-folder-open !default;
$tree-folder-expanded-glyph-color   : $tree-folder-glyph-color !default;


// arrow
$tree-arrow-glyph                   : $fa-var-caret-right !default;
$tree-arrow-glyph-color             : #d5d5d5 !default;

// arrow expanded
$tree-arrow-expanded-glyph          : $fa-var-caret-down null null -45  !default;

// plus
$tree-plus-glyph                    : $fa-var-plus-square-o !default;

// minus
$tree-minus-glyph                   : $fa-var-minus-square-o !default;
